@model foxcon.Models.DEPARTAMENTOS

@{
    ViewBag.Title = "Detalhes";
}

<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Departamentos</h1>
                </div>
                <!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">                
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- general form elements -->
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title"> <i class="fa fa-building"></i> Detalhes do Departamento</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="callout callout-danger">

                                <p>
                                    <strong>Departamento: </strong> @Html.DisplayFor(model => model.NAME)
                                </p>
                                <p>
                                    <strong>Status: </strong> @(Model.ACTIVE == "A" ? "ATIVO" : "INATIVO")
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Index", "Departamento")" class="btn flat btn-info">Voltar</a>
                            <a href="@Url.Action("Editar", "Departamento", new { id = Model.ID })" class="btn flat btn-info">Editar</a>
                            
                        </div>
                    </div>
                    <!-- /.card 
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>